.mdl-card{
	width:320px;
	height:320px;
	min-height: 0;
	overflow: hidden;
	margin:5px;
}
.mdl-card__title-text, .mdl-card__menu{
	color:white;
}
.mdl-card__actions{position: absolute;
    bottom: -52px;
    width: 100%;
    background: #fff;
	-webkit-transition: bottom .25s ease-out;
	   -moz-transition: bottom .25s ease-out;
	     -o-transition: bottom .25s ease-out;
		    transition: bottom .25s ease-out;
}
.mdl-card__actions .mdl-card__title-text{
	color: #fff;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: -60px;
    left: 0px;
    padding: 16px;
	box-sizing: border-box;
    width: 100%;
}
.mdl-card:hover .mdl-card__actions{
	bottom:0;
}

@media screen and (max-width: 1024px){
	.mdl-card{
		width:250px;
		height:250px;
	}
}
@media screen and (max-width: 550px){
	.mdl-card{
		width:200px;
		height:200px;
	}
}
@media screen and (max-width: 445px){
	.mdl-card{
		width:100%;
		height:200px;
	}
}