html{text-rendering: geometricPrecision;}
::-webkit-datetime-edit{color:transparent;}
.is-dirty ::-webkit-datetime-edit{color: #757575;}

.mdl-layout-title a{color: white;text-decoration: none;}
.mdl-layout__content{display: flex;flex-direction:column;}

main{background: #eeeeee;}
.homeCategory, .midcontent{flex: 1;padding:1%;}
.homeCategory h4{padding:5px;}
.midcontent.centered{justify-content: center;}
.table-centered{margin:auto;}

.itemSection{display: flex;flex-direction:row;flex-wrap:wrap;justify-content:left;}
.is-small-screen .itemSection{justify-content:center;}

.formContent{
	display:flex;
	flex-direction: row;
	width:800px;
	margin:auto;
}
.regForm{
	padding:10px 0 10px 0;
	width:300px;
	margin:auto;
}
.regForm:-webkit-autofill{
	background-color: white !important;
}
.loginForm{
	padding:10px 0 10px 0;
	width:300px; margin:auto;
	margin-top:0;
}
@media screen and (max-width: 800px){
	.formContent{
		width:300px;
		display:block;
	}
}
@media screen and (max-width:300px){
	.regForm, .loginForm{
		width:100%;
	}
	.regForm .mdl-textfield__input, .loginForm .mdl-textfield__input{
		width:100%;
	}
}
@media screen and (max-width:550px){
	.is-small-screen .homeCategory h4 .mdl-button{float:right;}
}
