html{text-rendering: geometricPrecision;}
::-webkit-datetime-edit{color:transparent;}
.is-dirty ::-webkit-datetime-edit{color: #757575;}

.mdl-layout-title a{color: white;text-decoration: none;}
.mdl-layout__content{display: flex;flex-direction:column;}

main{background: #eeeeee;}

.homeCategory, .midcontent{flex: 1;padding:1%;}
.homeCategory h4{padding:5px;}
.midcontent.centered{justify-content: center;}

.midcontent table{position: static;left:0;}
.table-centered{margin:auto;}
.tableScrollButtons{display:none;}

.itemSection{display: flex;flex-direction:row;flex-wrap:wrap;justify-content:left;}
.is-small-screen .itemSection{justify-content:center;}

.formContent{display:flex;flex-direction: row;width:800px;margin:auto;}
.regForm{padding:10px 0 10px 0;width:300px;margin:auto;}
.regForm:-webkit-autofill{background-color: white !important;}
.loginForm, .addBookForm{padding:10px 0 10px 0;width:300px;margin:auto;margin-top:0;}


.addItem{position: relative;}
.dropDownInput{width:90%;}
.addPopupBtn{right:0;}

.obfuscator{
	background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);

}
.obfuscator.show{
    background-color: rgba(0,0,0,.5);
    visibility: visible;
}
.popupAlert{
	position: absolute;
    top: -100px;
    left: calc(50% - 150px);
    width: 300px;
    height: auto;
    visibility: hidden;
    z-index: 5;
    margin: auto;
    background: #fff;
    padding: 16px;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 2px;
	-webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.popupAlert.show{
    top: 10px;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:300px){
	.regForm, .loginForm{
		width:100%;
	}
	.regForm .mdl-textfield__input, .loginForm .mdl-textfield__input{
		width:100%;
	}
}
@media screen and (max-width:550px){
	.is-small-screen .homeCategory h4 .mdl-button{float:right;}
}
@media screen and (max-width: 800px){
	.formContent{
		width:300px;
		display:block;
	}
}
@media screen and (max-width: 945px){
	.tableScrollButtons{display:inline-block;}
	.tableScrollButtonLeft{float:left;}
	.tableScrollButtonRight{float:right;}
	.midcontent table{position: relative;left:0;}
	
	.midcontent .container{
		width:100%;
		overflow-x: hidden;
	}
}
